# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
name: Gradle Package

on:
  push:
    branches:
#      - 'main'
      - 'feature/db_migration'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          # github.actor는 사용자 ID
          username: ${{ github.actor }}
          # GITHUB_TOKEN은 자동으로 생성되는 비밀 토큰
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        run: ./gradlew bootBuildImage
        env:
          # 'publish=true' 플래그를 Gradle에 전달
          PUBLISH_IMAGE: "true"
