# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
name: Gradle Package

on:
  push:
    branches:
#      - 'main'
      - 'feature/db_migration'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Extract version
        run: echo "VERSION=$(./gradlew properties -q | grep "^version:" | awk '{print $2}')" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          # github.actor는 사용자 ID
          username: ${{ github.actor }}
          # GITHUB_TOKEN은 자동으로 생성되는 비밀 토큰
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU for multi-arch build
        uses: docker/setup-qemu-action@v3

      - name: Build and Push Arch-specific Images
        run: | 
          ./gradlew bootBuildImage \
            --imageName="ghcr.io/${{ github.repository }}:${{ env.VERSION }}-amd64" \
            --imagePlatform=linux/amd64 \
            --publishImage
          
          ./gradlew bootBuildImage \
            --imageName="ghcr.io/${{ github.repository }}:${{ env.VERSION }}-arm64" \
            --imagePlatform=linux/arm64 \
            --publishImage

      - name: Create and Push Multi-arch Manifest
        run: |
          docker manifest create ghcr.io/${{ github.repository }}:${{ env.VERSION }} \
            --amend ghcr.io/${{ github.repository }}:${{ env.VERSION }}-amd64 \
            --amend ghcr.io/${{ github.repository }}:${{ env.VERSION }}-arm64 
          
          docker manifest push ghcr.io/${{ github.repository }}:${{ env.VERSION }}
