# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
name: Gradle Package

on:
  push:
    branches:
#      - 'main'
      - 'feature/db_migration'

    paths:
      - 'src/**'
      - 'build.gradle'
      - '.github/workflows/**'
      - '!Readme.md'

#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true # 가장 최신 커밋의 배포만 성공

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    outputs:
      version: ${{ steps.extract_version.outputs.VERSION }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Extract version
        id: extract_version
        run: echo "VERSION=$(./gradlew properties -q | grep "^version:" | awk '{print $2}')" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          # github.actor는 사용자 ID
          username: ${{ github.actor }}
          # GITHUB_TOKEN은 자동으로 생성되는 비밀 토큰
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU for multi-arch build
        uses: docker/setup-qemu-action@v3

      - name: Build and Push Arch-specific Images
        run: |
          VERSION=${{ steps.extract_version.outputs.VERSION }}
          
          ./gradlew bootBuildImage \
            --imageName="ghcr.io/${{ github.repository }}:${VERSION}-amd64" \
            --imagePlatform=linux/amd64
          
          ./gradlew bootBuildImage \
            --imageName="ghcr.io/${{ github.repository }}:${VERSION}-arm64" \
            --imagePlatform=linux/arm64
          
          docker push "ghcr.io/${{ github.repository }}:${VERSION}-amd64"
          docker push "ghcr.io/${{ github.repository }}:${VERSION}-arm64"

      - name: Create and Push Multi-arch Manifest
        run: |
          docker manifest create ghcr.io/${{ github.repository }}:${VERSION} \
            --amend ghcr.io/${{ github.repository }}:${VERSION}-amd64 \
            --amend ghcr.io/${{ github.repository }}:${VERSION}-arm64 
          
          docker manifest push ghcr.io/${{ github.repository }}:${VERSION}

  trigger-gitops-update:
    runs-on: ubuntu-latest

    needs: [ build-and-push-image ]

    steps:
      - name: Checkout K8s Infra Repo
        uses: actions/checkout@v4
        with:
          repository: dream2405/healthy_meal_infra
          ref: main
          ssh-key: ${{ secrets.INFRA_REPO_DEPLOY_KEY }}
          path: 'infra-repo'

      - name: Update Helm Value File
        uses: mikefarah/yq@master
        with:
          cmd: yq -i ".image.tag = \"${{ needs.build-and-push.outputs.version }}\"" "infra-repo/envs/dev.yaml"

      - name: Commit and Push to Infra Repo
        run: |
          cd infra-repo
          git config --global user.name "GitHub Actions CI"
          git config --global user.email "ci-actions@github.com"
          
          if ! git diff --quiet; then
            git commit -am "CI: Update image tag for ${{ github.event.repo.name }} to ${{ needs.build-and-push.outputs.version }}"
            git push
          else
            echo "No changes to commit. Image tag is already ${{ needs.build-and-push.outputs.version }}."
          fi